.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  a {
    color: #0087C3;
    text-decoration: none;
  }
  
  body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #555555;
    background: #FFFFFF; 
    font-size: 14px; 
  }
  
  header {
    padding: 8px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #AAAAAA;
  }
  
  .header-text {
    font-size: 8px;
    color: #BEBEBE;
  }
  
  #logo {
    float: left;
    margin-top: 8px;
  }
  
  #logo img {
    height: 20px;
  }
  
  #company {
    float: right;
    text-align: right;
    line-height: 1px;
  }
  
  .lbl {
    font-weight: bold;
  }
  
#details {
  margin-bottom: 20px;
}
  
  #client {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    float: left;
    margin-bottom: 10px;
  }
  
  #client .to {
    color: #777777;
    font-weight: bold;
  }
  
  .company-name {
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    color: #000;
  }
  
  .customer-name {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
  }
  
  #invoice {
    float: right;
    text-align: right;
  }
  
  #invoice h1 {
    color: #0087C3;
    font-size: 1.5em;
    line-height: 0.5em;
    font-weight: normal;
    margin: 0  0 2px 0;
  }
  
  #invoice .date {
    font-size: 1em;
    color: #777777;
  }
  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
  }
  
  .invoice-table th,
  .invoice-table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #000;
  }
  
  .invoice-table th {
    white-space: nowrap;        
    font-weight: bold;
  }
  
  .invoice-table td {
    text-align: right;
    padding: 10px 5px;
  }
  
  .itm-desc {
    font-size: 14px;
  }
  
  .invoice-table .no {
    vertical-align: top;
  }
  
  .invoice-table .desc {
    text-align: left;
  }
  
  .invoice-table .unit {
    
  }
  
  .invoice-table .qty {
  }
  
  .invoice-table .total {
    background: #e6e6e6;
  }
  
  .invoice-table td.unit,
  .invoice-table td.qty,
  .invoice-table td.total {
    font-size: 14px;
  }
  
  .invoice-table tbody tr:last-child td {
    border: none;
  }
  
  .invoice-table tfoot td {
    padding: 4px 4px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 12px;
    white-space: nowrap; 
  /*  border-bottom: 1px dotted red; */
  }
  
  .invoice-table tfoot .tax-component {
  /*  border-top: 1px solid #cacaca; */
  }
  
  .invoice-table tfoot .total-component {
    font-size: 14px;
    border-top: 1px solid #000; 
    font-weight: bold;
  }
  
  .invoice-table tfoot tr td:first-child {
    border: none;
  }
  
  #thanks{
    font-size: 2em;
    margin-bottom: 50px;
  }
  
  #notices{
    padding-left: 6px;
    border-left: 6px solid #0087C3;  
  }
  
  #notices .notice {
    font-size: 1em;
  }
  
  footer {
    color: #777777;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;  
    font-size: 10px;
    text-align: center;
  }
  
  .pgnum {
    position: absolute;
    right: 15px;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .closing-footer {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .closing-footer tr td {
    padding: 0 !important;
    line-height: 0px;
  }
  
  .authenticCheck {
    font-size: 12px;
  }